body {
    background-color:#121212;
}
button {
    background-color: #1DB954;
    border: none;
    color: black;
    font-weight: bold;
    padding: 16px 52px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 26px;
}
button:hover {
    background-color: #1ED760;
}
h1{
    color: #FFFFFF;
    font-size: 30px;
    padding: 10px 14px;
}
h2 {
    color: #FFFFFF;
    font-size: 20px;
    padding: 10px 14px;
}
p {
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 14px;
}
.border-green {
    border: 2px solid #1DB954; 
    padding: 20px; 
    margin: 20px; 
    border-radius: 10px;
}
